ul{
	font-size: 20px;
	text-align: center;
	list-style-type: none;
	padding-inline-start: 0;
}
li{
	font-size: 28px;
	list-style-type: none;
	margin: 1%;
}
.navbar{
	position: relative;
}
h2{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.btn{
  font-size: xx-large;
  margin: 0.5%;
}
h1{
	margin: 1%;
	text-align: center;
	font-weight: 1000;
}
h3{
  font-size: xx-large;
}
body{
	background-color: #a76042;
	
}
a{
	font-weight: 800;
	color: #e7c8b3;
}
a:hover, a:active{
	color: #f8ece4
}
.btn{
  background-color: #C9Ac98 !important;
	border-color: #C9Ac98 !important;
  color: black;
}
.btn:hover, .btn:active{
  outline: none;
	box-shadow: none;
	background-color: #e7c8b3 !important;
	border-color: #e7c8b3 !important;
}
