<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Landing</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='nutritionLabel-min.js')}}"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/recipe_style.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static',filename='css/nutritionLabel-min.css') }}" />
    
    
    
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="{{url_for('static',filename = 'logo.png')}}" width="30" height="30" class="d-inline-block align-top" alt="">
        HOME Recipes
      </a>
      <span class="navbar-text">
        Recipe
      </span>
    </nav>

    
    <div id = "main"></div>
    <br>
    <ul id = "ingredients"></ul>
    <br>
    <div id = "instruct"></div>
    <br>
    <div id="test2"></div>

  </body>
  <script>

      
  var finalQuery = "";
  var finalIngredients = "";


    const ul = document.getElementById('main');
    const list = document.createDocumentFragment();
    const list2 = document.createDocumentFragment();
    const list3 = document.createDocumentFragment();
   const queryS = window.location.search;
   const urlParams = new URLSearchParams(queryS);
   const id = `{{id}}`//urlParams.get('id');
   var url = new URL("https://www.themealdb.com/api/json/v1/1/lookup.php?i=" + id);
     fetch(url)
       .then((response) => {
         // console.log(response.json());
         return response.json();
       }).then((data) => {
         let strMeal = data.meals;

         strMeal.map(function(meal){
           let li = document.createElement('div');
           li.setAttribute("class", "row row-cols-2");
           let mealName = document.createElement('h1');
           let img = document.createElement('img');
           img.setAttribute("class", "mx-auto d-block img-responsive");
           let mealIns = document.createElement('div');
           mealName.innerHTML = `${meal.strMeal}`
           img.setAttribute("src", meal.strMealThumb);
           mealIns.innerHTML = `${meal.strInstructions}`
           mealIns.style.textAlign = "left";
           mealIns.setAttribute("class", "col-9");
           mealIns.style.marginLeft = "7vh";
           list.appendChild(mealName);
           list.appendChild(img);
           list.appendChild(document.createElement('br'));
           li.appendChild(mealIns);
           //console.log(mealName);
           list2.appendChild(li);
           ul.appendChild(list);
           document.getElementById('instruct').appendChild(list2);
         });
       })
       .catch(function(error){
           console.log(error);
         });
 


  var totalCal = 0;
  var totalTotalFat = 0;
  var totalSatFat = 0;
  var totalCholesterol = 0;
  var totalSodium = 0;
  var totalTotalCarb = 0;
  var totalSugar = 0;
  var totalProtein = 0;

  async function demoFunction() {
      finalQuery = await getQuery();
      finalIngredients = await getIngredients();
      console.log(finalQuery);
      console.log("fff");
      console.log(finalIngredients);

      const ul2 = document.getElementById("ingredients");
      let splitStr = finalQuery.split(',').filter(function(i){if(i != "   ")return i});
      splitStr.map(element => {
          let li = document.createElement('li');
          li.innerHTML = element;
          list3.appendChild(li);
          ul2.appendChild(list3);
      });
      
      console.log(splitStr);
      let _data = {
          "query": finalQuery,
          "timezone": "US/Eastern"
      }


      fetch('https://trackapi.nutritionix.com/v2/natural/nutrients', {
          method: "POST",
          body: JSON.stringify(_data),
          headers: {
                      "Content-type": "application/json",
                      "x-app-id": "ac882fa7",
                      "x-app-key": "d40a735a24db6dc8b9e3abd8aa01794d",
                      "x-remote-user-id": "0"
                  }
      })
      .then((response) => {
          return response.json();
      }) 
      .then((data) => {
          let strNutr = data.foods;

          strNutr.map(function(ingredient) {
              totalCal += ingredient.nf_calories;
              totalTotalFat += ingredient.nf_total_fat;
              totalSatFat += ingredient.nf_saturated_fat;
              totalCholesterol += ingredient.nf_cholesterol;
              totalSodium += ingredient.nf_sodium;
              totalTotalCarb += ingredient.nf_total_carbohydrate;
              totalSugar += ingredient.nf_sugars;
              totalProtein += ingredient.nf_protein
          })

          $(document).ready(function(){
      
              $('#test2').nutritionLabel({
                  showItemName : false,
                  showServingsPerContainer : false,
                  // showServingUnitQuantity : false,
                  ingredientList : finalIngredients,

                  showPolyFat : false,
                  showMonoFat : false,
                  showTransFat : false,
                  showFibers : false,
                  showVitaminA : false,
                  showVitaminC : false,
                  showCalcium : false,
                  showIron : false,
                  showFatCalories : false,

                  valueServingUnitQuantity : 1,
                  valueServingSizeUnit : 'total amount made',

                  valueCalories : totalCal,  //nf_calories
                  valueTotalFat : totalTotalFat,  //nf_total_fat
                  valueSatFat : totalSatFat,  //nf_saturated_fat
                  valueCholesterol : totalCholesterol,  //nf_cholesterol
                  valueSodium : totalSodium,  //nf_sodium
                  valueTotalCarb : totalTotalCarb,  //nf_total_carbohydrate
                  valueSugars : totalSugar,  //nf_sugars
                  valueProteins : totalProtein  //nf_protein
              });


              // eval( eval( $('#pre2').html() ) );
          });


      }); 
      // .catch(err => console.log(err));
  }

  demoFunction();
  



  function getQuery() {
      var toQuery = "";

      var url = new URL("https://www.themealdb.com/api/json/v1/1/lookup.php?i=" + id);
      return fetch(url)
      .then((response) => {
          return response.json();
      })
      .then((data) => {

          // console.log(data.meals);

          strMeal = data.meals;

          strMeal.map(function(meal){

              var grpStrIngredients = {
                  "1": meal.strIngredient1,
                  "2": meal.strIngredient2,
                  "3": meal.strIngredient3,
                  "4": meal.strIngredient4,
                  "5": meal.strIngredient5,
                  "6": meal.strIngredient6,
                  "7": meal.strIngredient7,
                  "8": meal.strIngredient8,
                  "9": meal.strIngredient9,
                  "10": meal.strIngredient10,
                  "11": meal.strIngredient11,
                  "12": meal.strIngredient12,
                  "13": meal.strIngredient13,
                  "14": meal.strIngredient14,
                  "15": meal.strIngredient15,
                  "16": meal.strIngredient16,
                  "17": meal.strIngredient17,
                  "18": meal.strIngredient18,
                  "19": meal.strIngredient19,
                  "20": meal.strIngredient20,
              };

              var grpStrMeasures = {
                  "1": meal.strMeasure1,
                  "2": meal.strMeasure2,
                  "3": meal.strMeasure3,
                  "4": meal.strMeasure4,
                  "5": meal.strMeasure5,
                  "6": meal.strMeasure6,
                  "7": meal.strMeasure7,
                  "8": meal.strMeasure8,
                  "9": meal.strMeasure9,
                  "10": meal.strMeasure10,
                  "11": meal.strMeasure11,
                  "12": meal.strMeasure12,
                  "13": meal.strMeasure13,
                  "14": meal.strMeasure14,
                  "15": meal.strMeasure15,
                  "16": meal.strMeasure16,
                  "17": meal.strMeasure17,
                  "18": meal.strMeasure18,
                  "19": meal.strMeasure19,
                  "20": meal.strMeasure20,
              };


              for (let i = 1; i <= 20; i++) {

                  if (grpStrMeasures[i] == "") {
                      // console.log("quit at " + i);
                      break;
                  }

                  if (i == 1) {

                      toQuery = toQuery + grpStrMeasures[i] + " " + grpStrIngredients[i];

                  }
                  else {

                      toQuery = toQuery + ", " + grpStrMeasures[i] + " " + grpStrIngredients[i];

                  }
              }

          })

          console.log(toQuery);


          return toQuery;

      })
      .catch(function(error){
          console.log(error);
      });
  }

  function getIngredients() {
      var toIngredients = "";

      var url = new URL("https://www.themealdb.com/api/json/v1/1/lookup.php?i=" + id);
      return fetch(url)
      .then((response) => {
          return response.json();
      })
      .then((data) => {

          // console.log(data.meals);

          strMeal = data.meals;

          strMeal.map(function(meal){

              var grpStrIngredients = {
                  "1": meal.strIngredient1,
                  "2": meal.strIngredient2,
                  "3": meal.strIngredient3,
                  "4": meal.strIngredient4,
                  "5": meal.strIngredient5,
                  "6": meal.strIngredient6,
                  "7": meal.strIngredient7,
                  "8": meal.strIngredient8,
                  "9": meal.strIngredient9,
                  "10": meal.strIngredient10,
                  "11": meal.strIngredient11,
                  "12": meal.strIngredient12,
                  "13": meal.strIngredient13,
                  "14": meal.strIngredient14,
                  "15": meal.strIngredient15,
                  "16": meal.strIngredient16,
                  "17": meal.strIngredient17,
                  "18": meal.strIngredient18,
                  "19": meal.strIngredient19,
                  "20": meal.strIngredient20,
              };


              for (let i = 1; i <= 20; i++) {

                  if (grpStrIngredients[i] == "") {
                      // console.log("quit at " + i);
                      break;
                  }

                  if (i == 1) {

                      toIngredients = toIngredients + grpStrIngredients[i];

                  }
                  else {

                      toIngredients = toIngredients + ", " + grpStrIngredients[i];

                  }
              }

          })

          console.log(toIngredients);


          return toIngredients;

      })
      .catch(function(error){
          console.log(error);
      });
  }


</script>








</html>